---
import "../styles/base.css";

import Navigation from "../components/Navigation.astro";
const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body class="body-color">
    <div
      class="container text-center p-10 md:m-10 md:p-0 md:mx-auto w-full md:w-10/12 max-w-4xl"
    >
      <Navigation back={frontmatter.back || `/${frontmatter.category}`} />

      <div
        style="animation-delay: 100ms;"
        class="fade-in-delay my-10 mx-auto justify-center items-center"
      >
        <p class="article-title-no-link">{frontmatter.title}</p>
        <p class="article-subtitle">{frontmatter.author}</p>
        <a href={`mailto:${frontmatter.email}`} class="article-subtitle-link"
          >{frontmatter.email}</a
        >
        <p class="article-subtitle text-gray-500">
          {frontmatter.date} (dd/mm/yyyy)
        </p>

        <div
          class="prose dark:prose-invert fade-in-delay article-sub-container"
        >
          <slot />
        </div>
      </div>
    </div>
    <!-- katex -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />
  </body>
</html>
